<div class="row">
	<div class="col-md-5">
		<%= bootstrap_form_for(@user, url: { action: "activation" }, layout: :horizontal, label_col: "col-md-3", control_col: "col-md-9") do |f| %>
      <div class="has-feedback">
				<%= f.text_field :activation_key, label: "验证码" %>
			</div>
			<%= f.form_group do %>
				<%= f.submit "激活", class: "btn btn-success btn-block" %>
			<% end %>
		<% end %>
	</div>
</div>
