
<% if notice && !notice.empty? %>
	<div class="alert alert-info">
		<p><%= notice %></p>
	</div>
<% end %>

<% if @user.reg_completed %>
	<%= render partial: "show_details" %>
<% else %>
	<%= render partial: "continue_registration" %>
<% end %>
