<div class="form-group">
	<%= f.label field_name, field_label, :class => "col-md-#{col1} control-label" %>
  <div class="col-md-<%= col2 %>">
		<%= f.password_field field_name, :class => "form-control" %>
	</div>
</div>
