<% if c.parent %>
	<blockquote class="blockquote-sm">
		<p>
			<%= render partial: "quote", locals: { c: c.parent } %>
			<%= c.parent.content.html_safe %>
		</p>
		<footer>
			<%= c.parent.user.nick %> @ <%= I18n.l c.parent.created_at %>
		</footer>
	</blockquote>
<% end %>
