.navbar {
	border-radius: 0px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.pagination-condensed {
	margin-top: 5px;
	margin-bottom: 0px;
}

.hr-condensed {
	margin-top: 5px;
	margin-bottom: 5px;
}