$lightgray: #F8F8F8;
$lightgray1: #dddddd;

* {
	border-radius: 0px !important;
}

.badge {
	border-radius: 10px !important;
}

.btn-default .badge {
	background-color: gray;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.pagination-condensed {
	margin-top: 5px;
	margin-bottom: 0px;
}

.hr-condensed {
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-content {
	min-height: 200px;
	margin-top: 10px;
}

.post-side-panel {

}

.background-lightgray {
	background-color: $lightgray;
}

.form-navbar {
	margin-top: 8px;
}

.form-navbar-sm {
	margin-top: 10px;
}

.blockquote-sm {
	font-size: inherit;
}

.thumbnail-condensed {
	margin-bottom: 0px;
}

.p-condensed {
	margin-bottom: 0px;
}

.font-grey {
	color: grey
}

.list-inline > li.list-wrap {
	padding-bottom:5px;
	padding-right:0px;
	margin-right:-5px;
}

.btn .badge {
	top: 0px;
}

.table-tb-bordered {
	border-top: $lightgray1 solid 1px;
	border-bottom: $lightgray1 solid 1px;
}

.stats-bar {
	margin-bottom: 5px;
}

.validate-error {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #b94a48;
}