* {
	border-radius: 0px !important;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.pagination-condensed {
	margin-top: 5px;
	margin-bottom: 0px;
}

.hr-condensed {
	margin-top: 5px;
	margin-bottom: 5px;
}

p.post-content {
	min-height: 200px;
	margin-top: 10px;
}

.post-side-panel {
	/*margin-top: -15px;
	margin-bottom: -15px;*/
	/*height: 100%;
	margin-right: -15px;
	border-right: 1px #dddddd solid;*/
	
}