<ol class="breadcrumb">
  <li class="active">所有板块</li>
</ol>

<div class="panel-group">
	<% @categories.each do |c| %>
		<%= render partial: "category_boards", :locals => { category: c } %>
	<% end %>
</div>
