<ol class="breadcrumb">
  <li><%= link_to "所有板块", categories_path %></li>
  <li class="active"><%= @category.name %></li>
</ol>

<%= render partial: "category_boards", :locals => { category: @category } %>
